<h1>SALA 1</h1>
<iframe src="https://www.educima.com/wordsearches/jugadores_de_la_seleccion-ae3b637a5060ed90ce1616bb5250a4c3/embed" title="wordsearch - Jugadores de la seleccion" height="800px" width="60%%"></iframe>
<form action='@Url.Action("Habitacion",new {sala=ViewBag.numSala})'>
    <input type="text" name="clave">
    <input type="submit">
</form>