<h1>SALA 2</h1>
<p>En esta sala tendras que descubrir cuáles son los siguientes equipos por sus escudos.</p>
<p> - Deberás escribir la inicial del apellido de cada jugador, escrito todos juntos. </p>
<p>ACLARACIÓN: Si el nombre tiene más de una palabra, escribir solo la inicial de la primera.</p> 
<div>
  <h3>1.</h3>
  <img src="/imagenes/sanMartin.PNG">
</div>
<div>
  <h3>2.</h3>
  <img src="/imagenes/rafaela.PNG">
</div>
<div>
  <h3>3.</h3>
  <img src="/imagenes/indRivadavia.PNG">
</div>
<div>
  <h3>4.</h3>
  <img src="/imagenes/tristanSuarez.PNG">
</div>
<form action='@Url.Action("Habitacion","Home")' method="post">
    <input type="hidden" name="sala" value="2">
    <input type="text" name="clave">
    <input type="submit">
</form>
