<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="ganaste">
    <h2>GANASTE</h2>
    <h2>¡SALUD CAMPEÓN!</h2>
    <div class="botonesNavegacion">
        <a href='@Url.Action("Creditos", "Home")'>Créditos</a>
    </div>
</body>
</html>