<h1>SALA 1</h1>
<iframe src="https://www.educima.com/wordsearches/jugadores_de_la_seleccion-ae3b637a5060ed90ce1616bb5250a4c3/embed" title="wordsearch - Jugadores de la seleccion" height="700px" width="60%%"></iframe>
<ol>
    
</ol>
<form action='@Url.Action("Habitacion","Home")'>
    <input type="hidden" name="sala" value="1">
    <input type="text" name="clave">
    <input type="submit" value="Enviar solución">
</form>