@{
    ViewData["Title"] = "Index";
}
<header>
    <a href='@Url.Action("Index","Home")'><img src="/imagenes/afa.png" alt=""></a>
    <nav>
        <ul>
            <li>Futbol argentino SCAPE ROOM</li>
            <li><a href='@Url.Action("Comenzar","Home")'>Jugar!</a></li>
            <li><a href='@Url.Action("Tutorial","Home")'>Tutorial</a></li>
            <li><a href='@Url.Action("Creditos","Home")'>Créditos</a></li>
        </ul>
    </nav>  
</header>
<audio autoplay>
    <source src="/videos/intro.mp3" type="audio/mpeg">
</audio>
<img class="banner" src="/imagenes/futbolArg.jpg" alt="">


