<header>
    <a href="index.html"><img src="/imagenes/afa.png" alt=""></a>
    <nav>
        <ul>
            <li>Futbol argentino SCAPE ROOM</li>
            <li><a href="">Jugar!</a></li>
            <li><a href="">Tutorial</a></li>
            <li><a href="">Créditos</a></li>
        </ul>
    </nav>  
</header>