<header>
    <a href='@Url.Action("Index","Home")'><img src="/imagenes/afa.png" alt=""></a>
    <nav>
        <ul>
            <li><a href='@Url.Action("Comenzar","Home")'>Jugar!</a></li>
            <li><a href='@Url.Action("Tutorial","Home")'>Tutorial</a></li>
            <li><a href='@Url.Action("Creditos","Home")'>Créditos</a></li>
        </ul>
    </nav> 
</header>
