body {
  margin: 20px 60px 0px 20px;
  background-image: url("/imagenes/pelota.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}
